.blogcontainer {
  display: flex;
  flex-direction: row;
  color: green;
}
.blog {
  flex-grow: 1;
}
.left {
  position: relative;
  overflow: hidden;
}

.left > div {
  display: flex;
  flex-direction: column;
  position: relative;
  animation: moving 15s linear infinite;
  height: 1080px;
}
.left img {
}
@media (max-width: 1280px) {
  .left {
    display: none;
  }
}
@keyframes moving {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
