.main {
  background-color: rgb(255, 255, 255);
  overflow-y: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 5000px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(90, 90, 90);
}

.mainlogo {
  margin-top: 60px;
  align-self: center;
  position: static;
}
.name {
  font-family: Ubuntu-bold;
  color: rgba(36, 122, 196, 255);
  font-size: 50px;
  justify-self: flex-start;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin-right: 40px;
  /* border: 2px solid red; */
}

.type {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.typeicon {
  width: 30%;
}
.bio {
  border: 6px solid rebeccapurple;
  padding: 20px;
  width: 400px;
  font-size: 30px;
}
.stats {
  display: flex;
  flex-direction: column;
  width: 400px;
  font-size: 40px;
  margin-left: 40px;
  position: relative;
}
.content {
  font-family: Ubuntu;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(138, 138, 138);
  padding: 100px;
  /* background: url(../../public/assets/paper_texture.jpg);
  background-size: auto 100%;
  color: rgb(0, 0, 0); */
}

.button {
  margin-top: 100px;
  border: 5px solid rgba(43, 115, 185, 255);
  border-radius: 7px;
  background-color: rgba(254, 202, 5, 255);
  height: 50px;
  width: 300px;
  color: white;
  font: Ubuntu-bold;
  font-size: 20px;
}
.button:hover {
  cursor: pointer;
}
@media (max-width: 1439px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .mainlogo {
    order: 1;
    margin-top: 50px;
    margin-bottom: 0px;
    align-self: center;
    position: static;
  }
  .content {
    order: 2;
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .image {
    order: 1;
    width: 70%;
    margin-top: 0px;
    margin-bottom: auto;
  }
  .intro {
    order: 2;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .name {
    order: 1;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .bio {
    order: 2;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
  }
  .type {
    order: 4;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 150%;
  }
  .stats {
    order: 3;
    border: 6px solid rgb(95, 95, 95);
    padding: 20px;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
  }
  .button {
    order: 3;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
