@font-face {
  font-family: Ubuntu;
  src: url(../../public/assets/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: Ubuntu-bold;
  src: url(../../public/assets/Ubuntu/Ubuntu-Bold.ttf);
}

body {
  font-family: Ubuntu;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}
.blog {
  color: blue;
}
/* * {
  border: 2px solid red;
} */
