.main {
  display: flex;
  flex-direction: column;
  background: url(../../public/assets/Texture.png),
    url(../../public/assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.mainlogo {
  margin-top: 60px;
  align-self: center;
  position: static;
}
.prevnext {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  gap: 20px;
  align-self: center;
  visibility: hidden;
}

/* Mobile */
@media (max-width: 1280px) {
  .mainlogo {
    height: 70px;
    margin-top: 30px;
  }
  .main {
    background-size: 160% 100%;
    background-position: top;
  }
}
