.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../../public/assets/Texture.png),
    url(../../public/assets/Background.png);
  height: 1080px;
  width: 100%;
}
.mainlogo {
  margin: 3%;
}

/* Mobile */
@media (max-width: 700px) {
}
