.shelf {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: center;
  column-gap: 6rem;
  row-gap: 4rem;
  margin-top: 100px;
}

@media (max-width: 980px) {
  .shelf {
    display: flex;
    margin-top: 25px;
  }
}
